<!-- header 헤더 -->
<div class="headerWrap">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="header-logoBox ">
				<a class="navbar-brand" href="#" style="color: white;" title=>PeekiS</a>
			</div>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"><!-- 서치바 부트스트랩사용 class-->
				
				<div class="header-loginBox"><!-- 로그인 div -->
				<ul class="nav navbar-nav navbar-right" style="padding-right: 0;">
					<li><p class="navbar-text" style="color: white;"></p>
					</li>
					<li class="dropdown"><a href="#" id="dropdownCo" class="dropdown-toggle"
						data-toggle="dropdown"><b id="dropdown-color" style="color: white;">LOGIN</b> <span
							class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form class="form-horizontal">
										  <div class="form-group">
										    <div class="col-sm-10" align="center">
										      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
										    </div>
										  </div>
										  <div class="form-group">
										    <div class="col-sm-10" align="left">
										      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
										    </div>
										  </div>
										  <div class="form-group">
										    <div class="col-sm-offset-2 col-sm-10">
										      <div class="checkbox">
										        <label>
										          <input type="checkbox"> Remember me
										        </label>
										      </div>
										    </div>
										  </div>
										   <!--<div class="form-group">
										     <div class="col-sm-offset-2 col-sm-10">
										      <button type="submit" class="btn btn-default">Sign in</button>
										    </div>  EMAIL PASSWORD 로그인버튼
										  </div>-->
										</form>
										<p align="center"></p>
										<form class="form" role="form" method="post" action="login"
											accept-charset="UTF-8" id="login-nav">
											<div class="social-buttons">
											<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i>
												Facebook</a> <a href="#" class="btn btn-tw"><i
												class="fa fa-twitter"></i> Twitter</a>
											</div>
										</form>
									</div>
									<div class="bottom text-center">
										<a id="login" href="#register.html"><b>LOGIN</b></a>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				</div>
			</div>
</div>