<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PeeKiS</title>
<!-- favicon -->
<link rel="shortcut icon" href="/peekis/favicon.ico" type="image/x-icon">
<link rel="icon" href="/peekis/favicon.ico" type="image/x-icon">
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../../js/jquery.number.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Isotope -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<!-- btn-orange -->
<link rel="stylesheet" href="../../css/btn-orange.css">

<!-- imagesLoaded -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>

<!-- sweetalert -->
<script src="../../js/sweetalert-dev.js"></script>
<link rel="stylesheet" style="text/css" href="../../css/sweetalert.css" />

<!-- 헤더푸터 위치 페이지 사이즈  조절 -->
<link rel="stylesheet" style="text/css" href="../../css/global.css"/>
<!-- css -->
<link rel="stylesheet" style="text/css" href="../../css/common.css" />
<link rel="stylesheet" style="text/css" href="../../css/header.css" />
<link rel="stylesheet" style="text/css" href="../../css/footer.css" />
<link rel="stylesheet" style="text/css" href="../../css/btn-orange.css" />
<link rel="stylesheet" style="text/css" href="../../css/main.css" />
<link rel="stylesheet" style="text/css" href="../../css/profile.css" />

<style>
.userInfo a:nth-child(3) div {
	color: #f28435;
	font-weight: bold;
}
</style>
</head>
<body>
	<header id="header"></header>
	
	<section>
		<div id="user-profile"></div>
		
		<div id="main-content">							
				<div class="item_container">
					<div id="pageNo" style="display: none;">1</div>
				</div>
		
			<div class="cloneMainContents" style="display: none;">
			<div class="item">
				<div class="product">
					<img src="../../image/no_image(235x400).png" />
					<input type="hidden" class="no" value="00">
					<input type="hidden" class="uno" value="00">
					<div class="mask">
						<div class="icon">
							<button class="btn btn-orange plus">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<button class="detail btn btn-orange">상세보기</button>
						</div>
					</div>
				</div>
				<div class="pro">
					<img src="../../image/pro1.jpg" class="img-circle userPho">
						<div class="user_id">아이디는여덟자임</div>
					<span class="glyphicon glyphicon-folder-open"></span>
					<div class="user_wish">폴더이름여덟자임</div>
					<div class="heart" style="cursor:auto;">
						<figure id="likeAmountLoc"><figcaption id="likeAmount"></figcaption></figure>
					</div>
					<div class="undoheart" style="cursor:auto;">
						<figure id="likeAmountLoc"><figcaption id="likeAmount"></figcaption></figure>
					</div>
				</div>
			</div>
		</div>
		</div>
		
		
		
		<!-- DetailModal -->
		<div class="item-modal modal fade" id="detailmodal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-pro">
							<img src="../../image/pro1.jpg" class="img-circle detailmodal-pro">
							<div class="modal-user_id">아이디는여덟자임</div>
							<span class="glyphicon glyphicon-folder-open"></span>
							<div class="modal-user_wish">폴더이름여덟자임</div>
						    <button class="btn btn-orange follow" id="detailFollowBtn"><i class="fa fa-plus">　팔로우</i></button>
						</div>
						<button type="button" class="btn btn-orange" data-dismiss="modal">닫기</button>
					</div>
					<div class="modal-body">
						<input type="hidden" class="no" id="detailmodal-no">
						<input type="hidden" class="uno" id="detailmodal-uno">
						<div class="item-image">
							<img src="../../image/no_image(450X450).png" alt="" id="detailmodal-image">
							<figure id="tagCaption"><figcaption id="tagCaptionText"><a></a></figcaption></figure>
						</div>

						<div class="item-content">
							<div class="item-title" id="detailmodal-title">title:</div>
							<br />
							<div class="item-subtitle" id="detailmodal-content">content:</div>
							<div class="item-costi-box">
								<div class="price" id="detailmodal-price">&#8361; price:</div>
							</div>
							<br />
							<div class="item-button-box">
								<button class="btn btn-default" id="detailmodal-url">
									<span class="glyphicon glyphicon-credit-card"> </span>구매하러 가기
								</button>
								<a href="#capymodal" data-toggle="modal"><button class="btn btn-default" id="detailSendBtn">담아가기</button></a>
								<button class="btn btn-default" id="detailLikeBtn">좋아요</button>
							</div>
							<br />
							<div>
								<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button id="comment" class="btn btn-orange" href="#tab1" data-toggle="tab">
											<div class="hidden-xs">댓글&nbsp;<span id="commentLength">0</span></div>
										</button>
									</div>
									<div class="btn-group" role="group">
										<button id="send" class="btn btn-default" href="#tab2" data-toggle="tab">
											<div class="hidden-xs">담아가기&nbsp;<span id="sendLength">0</span></div>
										</button>
									</div>
									<div class="btn-group" role="group">
										<button id="like" class="btn btn-default" href="#tab3" data-toggle="tab">
											<div class="hidden-xs">좋아요&nbsp;<span id="likeLength">0</span></div>
										</button>
									</div>
								</div>
								<div class="well">
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab1" style="overflow: auto;">
										</div>
										<div class="tab-pane fade in" id="tab2" style="overflow: auto;">
											<div id="sendTab-1"></div>
											<div id="sendTab-2"></div>
										</div>
										<div class="tab-pane fade in" id="tab3" style="overflow: auto;">
											<div id="likeTab-1"></div>
											<div id="likeTab-2"></div>
										</div>
									</div>
								</div>
								<div class="comment">
									<div class="comment_pro">
										<img src="../../image/pro1.jpg" class="img-circle comInputUserPho">
										<div class="col-lg-10">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="댓글을 입력해주세요" id="commentText"> <span class="input-group-btn">
													<button class="btn btn-default" type="button" id="insertComment">입력</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</section>
		
	<footer id="footer"></footer>
	
	<span data-toggle="tooltip" data-placement="top" title="" id="demoTop" data-original-title="Going Up?" style="display: none;"><a href="#" style="display: block; padding: 5px;">Δ</a></span>
	
	<!-- 상세보기 모달 댓글 기본폼 -->
	<div class='commentDiv' style="display: none">
		<div id='comdelsel'>
		<img class='img-circle' style='height: 30px; width: 30px;'></img>&nbsp;
		<a class="comUserID"></a>&nbsp;
		<span class="comCont"></span>
		<span id='commentDelBtn'>&times;</span>
		<input type='hidden' id='commentNum'/>
		</div>
	</div>
	
	<!-- 상세보기 모달 담아가기한 유저 기본폼 -->
	<div class='sendDiv' style="display: none">
		<div id='sendUser' style="margin: 3px 0;">
		<img class='img-circle' style='height: 30px; width: 30px;'></img>&nbsp;
		<a class="sendUserID"></a>
		<input type='hidden' id='sendUserNo'/>
		</div>
	</div>
	
	<!-- 상세보기 모달 좋아요한 유저 기본폼 -->
	<div class='likeDiv' style="display: none">
		<div id='likeUser' style="margin: 3px 0;">
		<img class='img-circle' style='height: 30px; width: 30px;'></img>&nbsp;
		<a class="likeUserID"></a>
		<input type='hidden' id='likeUserNo'/>
		</div>
	</div>
	
	<!-- 상세보기 모달 태그 기본폼 -->
	<div class='tagDiv' style="display: none">
		<a href="#"></a>
	</div>
	
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="js/like.js"></script>
<script type="text/javascript" src="../../js/detail.js"></script>
<script type="text/javascript" src="../profile/js/profile.js"></script>
</body>
</html>