		<div class="user-profile">
		  
		 <div style="width: 100px; height: 100px;"><img alt="" id="profile" src="../header/img/people.png"></div>
		
	  	 <div style="width: 450px; height: 50px; text-align: center;"><h2 id="userName">gomgom</h2></div>
	  	 
		 <div class="userInfo" style="width: 450px; height: 100px;">
		  <a href="/peekis/view/category/category.html"><div><i class="fa fa-folder-open-o"></i><br>카테고리<br>000</div></a>
		  <a><div id="wishList"><i class="fa fa-picture-o"></i><br>게시물<br><span id="wishCnt">000<span></div></a>
		  <a><div id="likeList"><i class="fa fa-heart-o"></i><br>좋아요<br><span id="likeCnt">000<span></div></a>
		  <a href="#"><div><i class="fa fa-user"></i><br>팔로워<br>000</div></a>
		  <a href="#"><div><i class="glyphicon glyphicon-sunglasses"></i><br>팔로우<br>000</div></a>	  
		 </div>
		  

		</div>
		
<script>
	var getParameter = function(url) {
		var paramText = url.split("?")[1];
		var params = paramText.split("&");
		var pageParam = {};
		for(item of params) {
			var param = item.split("=");
			pageParam[param[0]] = param[1];
		}		
		return pageParam;
	};
	var friendNo = 0;
	if(document.location.href.indexOf("fNo") > 0){
		friendNo = getParameter(document.location.href).fNo;
	}

	$.getJSON('/peekis/wish/ajax/userInfo.do', {fNo: friendNo}, function(resultObj) {
		console.log(resultObj);
		$("#wishCnt").text(resultObj.wishCnt);
		$("#likeCnt").text(resultObj.likeCnt);
		$("#userName").text(resultObj.loginUser.name);
		$("#dropdown-color").text(resultObj.loginUser.name);
		if(resultObj.loginUser.pho != null){
			$("#pImg").attr("src", filePath + resultObj.loginUser.pho);
			$("#profile").attr("src", filePath + resultObj.loginUser.pho);
		}
		if(resultObj.user != null){
			$("#userName").text(resultObj.user.name);
			if(resultObj.user.pho != null){
				$("#profile").attr("src", filePath + resultObj.user.pho);
			}
		}
	  });
	
	$(document).on('click', '#wishList', function (){    	
		if(document.location.href.indexOf("fNo") > 0){
        	location.href = contextRoot + "/view/user/user.html?fNo=" + getParameter(document.location.href).fNo;
    	}else{
	       	location.href = contextRoot + "/view/myList/myList2.html";
    	}
    });	
	$(document).on('click', '#likeList', function (){    	
		if(document.location.href.indexOf("fNo") > 0){
        	location.href = contextRoot + "/view/like/like.html?fNo=" + getParameter(document.location.href).fNo;
    	}else{
	       	location.href = contextRoot + "/view/like/like.html";
    	}
    });	
</script>