<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
<title>메인 화면</title>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../../js/jquery.number.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Isotope -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<!-- btn-orange -->
<link rel="stylesheet" href="../../css/btn-orange.css">

<!-- CSS -->
<link rel="stylesheet" href="../../css/main.css">


<!-- header, footer -->
<link rel="stylesheet" style="text/css" href="../../css/header.css" />
<link rel="stylesheet" style="text/css" href="../../css/footer.css" />
<link rel="stylesheet" style="text/css" href="../../css/global.css" />

<!-- imagesLoaded -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>

<!-- sweetalert -->
<script src="../../js/sweetalert-dev.js"></script>
<link rel="stylesheet" style="text/css" href="../../css/sweetalert.css" />

<script>
	$(document).ready(function() {
				
				/* 댓글 입력 */
				$("#insertComment").on("click",function(){
					var wNo = $("#detailmodal-no").text();
					 var comment = $("#commentText").val();
					 
					 console.log("wNo: " , wNo)
					 
					$.ajax({
						 type: "POST",
				  		  dataType:"JSON",
				  	 	  url : contextRoot + "/main/ajax/addComment.do",
				  	 	  data:{'cont': comment, 'wNo' : wNo}
					}).done(function(resultObj) {
						console.log(resultObj.ajaxResult.data.join.name)	
						console.log(resultObj.ajaxResult.data.comment.cont)	
							
  			 $("#tab1").prepend("<img src=" + filePath + resultObj.ajaxResult.data.join.pho + " class='img-circle'>" +
                       "<a>"+ resultObj.ajaxResult.data.join.name +"</a>"+
                       "<span>"+ resultObj.ajaxResult.data.comment.cont +"</span><br>");
						
					})
					
				})
				
				/* 좋아요 토글 이벤트 */
				$(document).on('click', '.heart', function(){
							console.log('좋아요 이벤트 발생');
							var wishNo = $(this).closest('.item').find('.no').val();
							var uNo = $('#UserNo').text();
				        	$.getJSON('/peekis/main/ajax/addLike.do', {wno : wishNo, uno : uNo}, function(resultObj) {
				        		var result = resultObj.ajaxResult;
				        		console.log(result);
				    			if(result.status == 'success'){
					        		$('.' + wishNo).find('.heart').toggleClass('toggle').show().fadeToggle(1000),
					        		setTimeout(function(){
					        			$('.' + wishNo).find('.heart').toggleClass('toggle');  
									   },1000), 
					        		$('.' + wishNo).find('.undoheart').hide().fadeToggle(1000);
				    			}else{
				    				swal('좋아요 추가에 실패하였습니다.');
				    			}
				    		});
						});

				$(document).on('click', '.undoheart', function(){
							console.log('좋아요 취소이벤트 발생');
							var wishNo = $(this).closest('.item').find('.no').val();
							var uNo = $('#UserNo').text();
				        	$.getJSON('/peekis/main/ajax/deleteLike.do', {wno : wishNo, uno : uNo}, function(resultObj) {
				        		var result = resultObj.ajaxResult;
				        		console.log(result);
				    			if(result.status == 'success'){
					        		$('.' + wishNo).find('.undoheart').toggleClass('toggle').show().fadeToggle(1000),
					        		setTimeout(function(){
					        			$('.' + wishNo).find('.undoheart').toggleClass('toggle');  
									   },1000), 
					        		$('.' + wishNo).find('.heart').hide().fadeToggle(1000);
				    			}else{
				    				swal('좋아요 삭제에 실패하였습니다.');
				    			}
				    		});
						});
				
				
				var $container = $('.item_container');
		          $container.isotope({
		             itemSelector : '.item',
		             percentPosition : true,
		             masonry: { columnWidth : 1, rowHeight: 1 }
		          });
		          $container.imagesLoaded().progress(function() {
		        	  $container.isotope();
		          });
		          
		        /* 리스트 불러오기 */
				nextPage(1);


		        $(window).scroll(function(){
		        	var scrollHeight = $(window).scrollTop() + $(window).height();
		        	var documentHeight = $(document).height();
		        	if(scrollHeight >= documentHeight -100){
		        		console.log('스크롤 이벤트 발생');
		        		var pageNo = Number($('#pageNo').text()) +1;
		        		nextPage(pageNo);

		        	}
		        });
		        
		        function nextPage(pageNo){
		        	 $.getJSON('/peekis/main/ajax/list.do',{pageNo : pageNo}, function(resultObj) {
		        		 $("#UserNo").text(resultObj.loginUser.uNo);
		        		  console.log(resultObj);
			   			  for (var wish of resultObj.data){
			   				  $('#pageNo').text(pageNo);
			   				  var cloneContent = $('.cloneMainContents > div').clone();
			   					cloneContent.addClass(wish.no+'');
			   					cloneContent.find('.no').val(wish.no);
			   					cloneContent.find('.uno').val(wish.uno);
			   					var path = wish.path;
			   					if(path.startsWith('http://') == false){
			   						path = filePath + path;
			   					}
			   					if(wish.buy == 'Y'){
			   						cloneContent.find('.buy').addClass('buy-check');
			   					}
			   					cloneContent.find('img:first').attr('src', path);
			   					cloneContent.find('.userPho').attr('src', filePath + wish.userPho);
			   					cloneContent.find('.user_id').html(wish.userName);
			   					cloneContent.find('.user_wish').html(wish.categoryName);
			   					$items = $(cloneContent);
			   					$container.append( $items ).isotope( 'appended', $items );			
		   			  	}
			   			for (var like of resultObj.like){
			   				$('.' + like).find('.undoheart').css('display','block');
			   				$('.' + like).find('.heart').css('display','none');
			   			}
			   			
			   			for (var send of resultObj.send){
			   				$('.' + send).find('.plus').attr('status',true);
			   			}
			   			
			   			if(pageNo == 1){
		        			console.log(resultObj);
		        			$("#dropdown-color").text(resultObj.loginUser.name);
		        			if(resultObj.loginUser.pho != null){
		        				$("#pImg").attr("src", filePath + resultObj.loginUser.pho);
		        			}
		        		}
		   			});
		        }
		        
		        /* 개인 리스트 가져오기*/
		        modalNextPage(1);
		        
				        $(window).scroll(function(){
				        	var scrollHeight = $(window).scrollTop() + $(window).height();
				        	var documentHeight = $(document).height();
				        	if(scrollHeight >= documentHeight -100){
				        		console.log('스크롤 이벤트 발생');
				        		var modalPageNo = Number($('#modalPageNo').text()) +1;
				        		modalNextPage(modalPageNo);
				        	}
				        });
				        
				        function modalNextPage(modalPageNo){
				        	$(document).on('click', '.user_id', function (){
				        	 $.getJSON('/peekis/main/ajax/selectUserList.do',{modalPageNo : modalPageNo}, function(resultObj) {
				        		 $("#UserNo").text(resultObj.loginUser.uNo);
				        		  console.log(resultObj);
				        		  $('#proModal').modal();
					   			  for (var wish of resultObj.data){
					   				  $('#modalPageNo').text(modalPageNo);
					   				  var cloneContent = $('.cloneModalContents > div').clone();
					   					cloneContent.addClass(wish.no+'');
					   					cloneContent.find('.no').val(wish.no);
					   					cloneContent.find('.uno').val(wish.uno);
					   					var path = wish.path;
					   					if(path.startsWith('http://') == false){
					   						path = filePath + path;
					   					}
					   					cloneContent.find('img:first').attr('src', path);
				   			  	}
					   			for (var like of resultObj.like){
					   				$('.' + like).find('.undoheart').css('display','block');
					   				$('.' + like).find('.heart').css('display','none');
					   			}
				   			});
				        });
		         };
		         
		         
		        
		        /* 상세정보 가져오기 */
				$container.on( 'click', '.detail', function() {
					var wishNo = $(this).closest('.item').find('.no').val();
					var uNo = Number($('#UserNo').text());
					
					
					$.getJSON('/peekis/main/ajax/detail.do', {no : wishNo, uno: uNo} , 
						function( resultObj ) {
							var wish = resultObj.data;
							var cList = resultObj.commentList;
							console.log(wish);
							
							if(cList.length>0){
								
							console.log("cList : ", cList);    
							
							var html=""
							
							    html += "<img src="+ filePath + cList[0].userPho +" class='img-circle' style='height: 30px; width: 30px;'></img>"
							    html += "<a>"+ cList[0].userName +"</a>"
							    html += "<span>"+ cList[0].cont +"</span>"
							
							$("#tab1").html(html)
							
							}
							
							$("#detailmodal-no").html( wish.no );
							$("#detailmodal-uno").html( wish.uno );
							var path = wish.path;
							if(path.startsWith('http://') == false){
								path = filePath + path;
							}							
							$("#detailmodal-pro").attr('src', filePath + wish.userPho);
							$(".modal-user_id").html(wish.userName);	
							$(".modal-user_wish").html(wish.categoryName);	
							
							$("#detailmodal-image").attr("src", path );
							$("#detailmodal-title").html( wish.title );			
							$("#detailmodal-content").html( wish.content );
							$("#detailmodal-price").html('&#8361;&nbsp;' + $.number(wish.price));
							$("#detailmodal-url").attr("onclick", "window.open('" + wish.url + "')");
							$("#detailmodal-tag").html("");
							$('#detailmodal').modal();
							$(".follow").css("display","block");
							if(resultObj.followerCheck == 1 ){
								$(".follow").text("언팔로우");
							}
							if($("#detailmodal-uno").text() == $('#UserNo').text()){
								$(".follow").css("display","none");
							}
						});
				});
		        
		        /* 게시글 담아가기 */
		        $(document).on("click", ".plus", function(){
		        	var wishNo = $(this).closest('.item').find('.no').val();
		        	var uNo = $('#UserNo').text();
		        	if($(this).attr('status') == 'true'){
		        		swal("이미 담아가기 한 위시리스트입니다!", "한번만 담아기가 가능합니다", "error");
		        	}else{
						$.getJSON('/peekis/main/ajax/send.do', {wno : wishNo, uno : uNo}, 
							function( resultObj ) {
								$('.' + wishNo).find('.plus').attr('status',true);
								swal("담아가기 성공!", "해당 아이템을 담았습니다!", "success");
								console.log(resultObj);
							});
		        	}
		        });
		        
		        
		        /* 팔로우 하기 */
		         $(document).on("click", ".follow", function(){
		        	var wishUserNo = $(this).closest('.modal-content').find('.uno').text();
		        	var uNo = $('#UserNo').text();
		        	if($(".follow").text() == "팔로우"){
						$.getJSON('/peekis/main/ajax/follower.do', {wishUserNo : wishUserNo, uno : uNo}, 
							function( resultObj ) {
								swal("팔로우 성공!", "유저와 친구가 되었습니다!", "success");
								$(".follow").text("언팔로우");
								console.log(resultObj);
						});
		        	}else if($(".follow").text() == "언팔로우"){
						$.getJSON('/peekis/main/ajax/unfollower.do', {wishUserNo : wishUserNo, uno : uNo}, 
							function( resultObj ) {
								swal("팔로우 삭제!", "친구가 삭제되었습니다!", "error");
								$(".follow").text("팔로우");
								console.log(resultObj);
						});
		        	}
		        });
		        
				$('#filters').on('click', 'button', function() {
					var filterValue = $(this).attr('data-filter');
					$container.isotope({
						filter : filterValue
					});
				});

				$(".btn-pref .btn").click(
						function() {
							$(".btn-pref .btn").removeClass("btn-orange")
									.addClass("btn-default");
							$(this).removeClass("btn-default").addClass(
									"btn-orange");
						});
				
				var didScroll;
				var lastScrollTop = 0;
				var delta = 5;
				var navbarHeight = $('footer').outerHeight();

				$(window).scroll(function(event){
				    didScroll = true;
				});

				setInterval(function() {
				    if (didScroll) {
				        hasScrolled();
				        didScroll = false;
				    }
				}, 250);

				function hasScrolled() {
				    var st = $(this).scrollTop();
				    
				    if(Math.abs(lastScrollTop - st) <= delta)
				        return;
				    
				    if (st > lastScrollTop && st > navbarHeight){
				        $('footer').removeClass('nav-down').addClass('nav-up');
				        $('#demoTop').show();
				        
				    } else {
				        if(st + $(window).height() < $(document).height()) {
				            $('footer').removeClass('nav-up').addClass('nav-down');
				        }
				    }
				    lastScrollTop = st;
				}
			});
</script>
</head>
<body>
	<header id="header"></header>

	<div class="filter">
		<div id="filters" class="btn-group">
			<button class="button is-checked btn btn-orange" data-filter="*">모두 보기</button>
			<button class="button btn btn-orange" data-filter=".friend">친구</button>
		</div>
	</div>

	<div class="main">
		<div class="item_container">
			<div id="pageNo" style="display: none;">1</div>
			<div id="UserNo" style="display: none;">0</div>
		</div>

		<div class="cloneMainContents" style="display: none;">
			<div class="item">
				<div class="product">
					<img src="../../image/005.jpg" />
					<input type="hidden" class="no" value="00">
					<input type="hidden" class="uno" value="00">
					<div class="mask">
						<div class="icon">
							<button class="btn btn-orange">
								<span class="glyphicon glyphicon-send"></span>
							</button>
							<button class="btn btn-orange plus">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<button class="detail btn btn-orange">상세보기</button>
						</div>
					</div>
				</div>
				<div class="pro">
					<img src="../../image/pro1.jpg" class="img-circle userPho">
						<div class="user_id">아이디는여덟자임</div>
					<span class="glyphicon glyphicon-folder-open"></span>
					<div class="user_wish">폴더이름여덟자임</div>
					<div class="heart"></div>
					<div class="undoheart"></div>
				</div>
			</div>
		</div>

		<!-- DetailModal -->
		<div class="item-modal modal fade" id="detailmodal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-pro">
							<img src="../../image/pro1.jpg" class="img-circle detailmodal-pro">
								<div class="modal-user_id">아이디는여덟자임</div>
								<span class="glyphicon glyphicon-folder-open"></span>
							<div class="modal-user_wish">폴더이름여덟자임</div>
							<p class="follow">팔로우</p>
						</div>
						<button type="button" class="btn btn-orange" data-dismiss="modal">닫기</button>
					</div>
					<div class="modal-body">
						<input type="hidden" class="no" id="detailmodal-no">
						<input type="hidden" class="uno" id="detailmodal-uno">
						<div class="item-image">
							<img src="../../image/1111.jpg" alt="" id="detailmodal-image">
						</div>

						<div class="item-content">
							<div class="item-title" id="detailmodal-title">titel:</div>
							<br />
							<div class="item-subtitle" id="detailmodal-content">content:</div>
							<div class="item-costi-box">
								<div class="price" id="detailmodal-price">&#8361; price:</div>
							</div>
							<br />
							<div class="item-button-box">
								<button class="btn btn-default" id="detailmodal-url">
									<span class="glyphicon glyphicon-credit-card"> </span>구매하러 가기
								</button>
								<a href="#capymodal" data-toggle="modal"><button class="btn btn-default">담아가기</button></a>
								<button class="btn btn-default">좋아요</button>
							</div>
							<br />
							<div>
								<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button id="comment" class="btn btn-orange" href="#tab1" data-toggle="tab">
											<div class="hidden-xs">댓글 0</div>
										</button>
									</div>
									<div class="btn-group" role="group">
										<button id="send" class="btn btn-default" href="#tab2" data-toggle="tab">
											<div class="hidden-xs">담아가기 0</div>
										</button>
									</div>
									<div class="btn-group" role="group">
										<button id="like" class="btn btn-default" href="#tab3" data-toggle="tab">
											<div class="hidden-xs">좋아요 0</div>
										</button>
									</div>
								</div>
								<div class="well">
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab1">
											<img src="../../image/pro1.jpg" class="img-circle">
											<p>댓글 내용 표시</p>
										</div>
										<div class="tab-pane fade in" id="tab2">
											<img src="../../image/pro1.jpg" class="img-circle">
											<p>댓글 내용 표시</p>
										</div>
										<div class="tab-pane fade in" id="tab3">
											<img src="../../image/pro1.jpg" class="img-circle">
											<p>댓글 내용 표시</p>
										</div>
									</div>
								</div>
								<div class="comment">
									<div class="comment_pro">
										<img src="../../image/pro1.jpg" class="img-circle">
										<div class="col-lg-10">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="댓글을 입력해주세요" id="commentText"> <span class="input-group-btn">
													<button class="btn btn-default" type="button" id="insertComment">입력</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- proModal -->
	<div class="portfolio-modal modal fade" id="proModal" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="modal-body">
				<h2>프로필e</h2>
				<hr class="star-primary">
				<img src="../../image/pro1.jpg" class="img-rounded" alt="">

				<div class="modal-item_container">
					<div id="modalPageNo" style="display: none;">1</div>
					<div id="UserNo" style="display: none;">0</div>
					<div class="modal-item">
						<div class="modal-product">
							<img src="../../image/1111.jpg" /> <input type="hidden" class="no" value="00"> <input type="hidden" class="uno" value="00">
						</div>
						<div class="modal-item-content">
							<div class="modal-item-title" id="">아이엠블리단가라, t[3co]</div>
							<div class="modal-item-content" id="">MD COMMENT 남자친구,친구,가족들과 함께 입으시기 너무 좋은 단가라 티셔츠인데요 실용성 있고 탄탄한 면100% 소재감에 'I M'스마일 하트와펜을 넣어 임블리에서만 만나보실 수 있는 사랑스러움을:</div>
							<hr class="star-primary">
							<div class="modal-icon">
								<a href="#Modal1" data-toggle="modal">
									<button class="detail btn btn-orange">상세보기</button>
								</a>
								<button class="btn btn-orange plus">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
								<div class="heart"></div>
								<div class="undoheart"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="cloneModalContents" style="display: none;">
					<div class="modal-item">
						<div class="modal-product">
							<img src="../../image/1111.jpg" />
							<input type="hidden" class="no" value="00">
							<input type="hidden" class="uno" value="00">
						</div>
						<div class="modal-item-content">
							<div class="modal-item-title" id="">아이엠블리단가라, t[3co]</div>
							<div class="modal-item-content" id="">MD COMMENT 남자친구,친구,가족들과 함께 입으시기 너무 좋은 단가라 티셔츠인데요 실용성 있고 탄탄한 면100% 소재감에 'I M'스마일 하트와펜을 넣어 임블리에서만 만나보실 수 있는 사랑스러움을:</div>
							<hr class="star-primary">
							<div class="modal-icon">
								<button class="detail btn btn-orange">상세보기</button>
								<button class="btn btn-orange plus">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
								<div class="heart"></div>
								<div class="undoheart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



	<footer class="nav-down" id="footer"></footer>

	<span data-toggle="tooltip" data-placement="top" title="" id="demoTop" data-original-title="Going Up?" style="display: none;"><a href="#" style="display: block; padding: 5px;">Δ</a></span>

	<script>
		$("#header").load("../header/header.html");
		$("#footer").load("../footer/footer.html");
	</script>
</body>
</html>
