@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a, a:HOVER{
	text-decoration: none;
}

.userInfo a:nth-child(1) div {
	color: #f28435;
	font-weight: bold;
}

.user-profile {
	margin: 0px;
}

#main-content {
	width: 100%;
	height: 200px;
	background-color: #d8d8d8;
	margin: 0px;
	margin-bottom: 20px;
	-webkit-box-shadow:inset 0 1px 1px 0 #828282;
	box-shadow:inset 0 1px 1px 0 #828282;
}

.c_container  {
	margin: 0 auto;
	width: 100%;
}

.category {
	width: 235px;
	margin: 10px;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px 5px 5px 5px;
}

.add-category {
	width: 235px; 
	height: 150px;
	border: 3px solid gray;
	text-align: center; 
	border-radius: 5px 5px 5px 5px;
	opacity: 0.5;
}

.add-category:HOVER {
	opacity: 1;
}

