@CHARSET "UTF-8";
footer {
	width : 100%;
	height : 50px;
	border-top : solid 3px rgb(242,132,53);
	background-color : #e8e8e8;
}


.footerWrap {
	width : 100%;
	height : 100%;
	position : relative;
}


.footer-logoBox {
	width : 300px;
	height : 100%;
	line-height : 50px;
	position : absolute;
	left : 0px;
	padding-left : 10px;
}
.footer-logoBox a {
	text-decoration: none;
	color: gray;
}

.footer-menuBox {
	width : 300px;
	height : 100%;
	line-height : 50px;
	position : absolute;
	right : 0px;
	text-align : right;
	padding-right : 10px;
}

.footer-menuBox a {
	text-decoration : none;
	color : #888;
	font-size : 13px;
	border-left : 3px solid #d8d8d8;
	padding-left : 10px;
}

.footer-shareBox {
	width : 100%;
	height : 100%;
	position : absolute;
	z-index : 0;
	text-align : center;
	line-height : 50px;
}

.footer-shareBox a {
	text-decoration : none;
}
.footer-shareBox a:hover {
	text-decoration : none;
	opacity: 0.7;
}


	
	
	