@CHARSET "UTF-8";
	/*헤더 전체 */
	footer {
		border-top: solid 2px rgb(242,132,53);
		background-color: #e6e6e6;
		min-width : 1024px;
		width : 100%;
		bottom: 0px;
		margin : 0px;
		padding : 0px;
	}
	/* footer */
	.main-footer{
		height: 50px;
		color: #bebebe;
	}
	
	.footer-inner {
		width: 100%;
		height: 100%;
		position : relative;
	}
	.footLogo .share{
		text-decoration: none;
	}
	.footLogo a{
		font-weight: bold;
		color: gray;
		padding: 5px;
	}
	.footer-inner .footLogo{
		position : absolute;
		left : 5px;
		width: 20%;
		margin: 13px;
	}
	
	/*중간 아이콘*/
	.footer-inner .footShare{
		width : 100%;
		height : 100%;
		position : absolute;	
	}

	.footShare ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
		width: 20%;
	}
	.footShare li a{
		padding: 5px;
	}
	.footShare li a:hover{
		opacity: 0.5;
	}
	.footShare li{ 
		float: left;
	}
	#footIcon{
		margin-left: 45%;
		margin-top: 13px;
	}
	/*footer-메뉴,Q&A*/
	.footCont {
		position : absolute;
		right : 0px;
		height : 100%;
	}
	.footCont li a{
		display: block;
		line-height : 48px;
		padding : 0px 5px 0px 5px;
		color: #bebebe;
		font-size: 13px;
		text-decoration: none;
	}
	.footCont li a:hover {
		background-color: gray;
		color: black;
		opacity: 0.3;
	}
	#footMn>li {
		display : inline-block;
		height : 100%;
	}
	#footMn{
		margin: 0px;
	}
	
	