@CHARSET "UTF-8";

	header {
	position : fixed;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 50px;
	border-bottom : 2px solid #d8d8d8;
	background-color: white;
	z-index: 1;
	}
	.headerWrap {
	width : 100%;
	height : 100%;
	position : relative;
	min-width : 1024px;
	}
	.header-logoBox {
	width : 100px;
	height : 100%;
	line-height : 50px;
	color : white;
	text-align : center;
	font-size : 16px;
	background: rgb(242,132,53);
	cursor : pointer;
	float : left;
	}
	.header-searchBarBox {
	height : 100%;
	margin-left : 10px;
	width : 30px;
	float : left;
	}
	.header-logoutBox {
	height : 100%;
	float : right;
	}
	
	/* 프로필이미지 사이즈  */
	li .navbar-text{ /*이미지*/
		margin-bottom: 0px;
		margin: 0px;
		padding: 10px;
	}
	#pImg:hover{ /*이미지*/
		color: black;
		opacity: 0.3;
	}
	
	
	/*정보수정,로그아웃 드롭박스*/
	#logout-dp { 
		min-width: 250px;
		padding: 14px 14px 0;
		overflow: hidden;
		background-color: rgba(255, 255, 255, .8);
	}
	#logout-dp .bottom {
		border-top: 1px solid #ddd;
		clear: both;
		padding: 14px;
	}
	#logout-dp .social-buttons {
		margin: 12px 0
	}
	#logout-dp .social-buttons a {
		width: 49%;
	}
	#logout-dp .form-group {
		margin-bottom: 10px;
	}
	.btn-fb { /*드롭박스 안에 트위터 페이스북*/
		color: #fff;
		background-color: #3b5998;
	}
	.btn-fb:hover {
		color: #fff;
		background-color: #bebebe;
	}
	.btn-tw {
		color: #fff;
		background-color: #55acee;
	}
	.btn-tw:hover {
		color: #fff;
		background-color: #bebebe;
	}
	#logout{
		color: rgb(242,132,53); /*로그아웃 글씨 주황색*/
	}
	
	/* 로고 주황색 배경  */
	.navbar-brand{
		color: #ffffff;
		   background: rgb(242,132,53);
		   background: -moz-linear-gradient(top,  rgba(242,132,53,1) 0%, rgba(241,85,38,1) 100%);
		   background: -webkit-linear-gradient(top,  rgba(242,132,53,1) 0%,rgba(241,85,38,1) 100%);
		   background: linear-gradient(to bottom,  rgba(242,132,53,1) 0%,rgba(241,85,38,1) 100%);
		   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28435', endColorstr='#f15526',GradientType=0 );	
		width : 100%;
	}
	/*드롭다운 네이밍 칼라 -그레이*/
	#dropdownCo{
		background-color: #bebebe;
	}
	/*searchbar -size*/
	#header-searchBarBox[type=text]{
		height : 100%;
		margin-left : 10px;
		float : left;
		width: 80px;
	    box-sizing: border-box;
	    border: 2px solid #ccc;
	    border-radius: 4px;
	    font-size: 14px;
	    background-color: white;
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	}
	#searchText[type=text]:focus {
    	width: 800px;
	}
	#searchSubmit{
		margin-left: 20px;
		border-left: 1px solid #bebebe;
		border-right: 1px solid #bebebe;
	}
	#mypage-btn{ /*정보수정 버튼*/
		width: 100%;
		color: #666666;
		font-weight: bold;
	}
	#mypage{ /*mypage 글씨 칼라*/
		color: #bebebe;
	}
	
	

