<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>gomgom myList</title>
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- 부트스트랩 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../js/common.js"></script>

<!-- 헤더푸터 위치 페이지 사이즈  조절 -->
<link rel="stylesheet" style="text/css" href="../../css/global.css" />

<!-- css -->
<link rel="stylesheet" style="text/css" href="../../css/common.css" />
<link rel="stylesheet" style="text/css" href="../../css/header.css" />
<link rel="stylesheet" style="text/css" href="../../css/footer.css" />
<link rel="stylesheet" style="text/css" href="../../css/btn-orange.css" />
<link rel="stylesheet" style="text/css" href="../../css/profile.css" />
<link rel="stylesheet" style="text/css" href="../../css/category.css" />

<!-- alert -->
<script src="../../js/sweetalert-dev.js"></script>
<link rel="stylesheet" style="text/css" href="../../css/sweetalert.css" />

<script type="text/javascript">
$(document).ready(function() {
	
	$('.add-category').click(function () {
		swal({title: "폴더 만들기",
			   text: "위시리스트를 담을 폴더를 만들어 주세요:",
			   type: "input",
			   showCancelButton: true,
			   closeOnConfirm: false,
			   animation: "slide-from-top",
			   inputPlaceholder: "폴더 명을 적어주세요" },
			   function(inputValue){
				   if (inputValue === false) return false;
				   if (inputValue === "")
				   {swal.showInputError("제대로 입력해 주세요!");
				   return false}
				   swal("폴더 생성!", "만드신 폴더: " + inputValue, "success") 
				   
				  $.ajax({
				  type: "POST",
		  		  dataType:"JSON",
		  	 	  url : contextRoot + "/category/ajax/addCategory.do",
		  	 	  data:{'name': inputValue},
		  	 	  success: function(){
		  	 		  var html=""
// 		  	 		  html += "<div><img src='img/folder.jpg'></img></div>"
		  	 		  
// 		  	 		  $(".category").find("add-category").prepend(html)
		  	 	  }
				})
			});
	  }) 

});
</script>


</head>
<body>
	<header id="header"></header>

	<section>
	
		<div id="user-profile"></div>


		<div id="main-content">
			<div class="row c_container" >
				<div class="col-md-2 category">
						<a data-toggle="modal" data-target="#addModal">
							<div class="add-category">
								<div style="padding: 30px 0 20px 0;">
									<i class="fa fa-plus-circle fa-3x"></i>
								</div>
								<h4 style="margin: 0;">카테고리 추가</h4>
							</div>
						</a>
				</div>
				<div  class="col-md-2 folderImg">
					<img src="img/folder2.png" class="categoryFolder" />
					<div class="textOverFolder">
						<h4 class="tOverName">청바지</h4>
					</div>
				</div>
				<div  class="col-md-2 folderImg">
					<img src="img/folder2.png" class="categoryFolder" />
					<div class="textOverFolder">
						<h4 class="tOverName">청바지</h4>
					</div>
				</div>
				<div  class="col-md-2 folderImg">
					<img src="img/folder2.png" class="categoryFolder" />
					<div class="textOverFolder">
						<h4 class="tOverName">청바지</h4>
					</div>
				</div>
				<div  class="col-md-2 folderImg">
					<img src="img/folder2.png" class="categoryFolder" />
					<div class="textOverFolder">
						<h4 class="tOverName">청바지</h4>
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<footer id="footer"></footer>


	<script>
	$("#header").load("../header/header.html");
	$("#footer").load("../footer/footer.html");
	$("#user-profile").load("../profile/profile.html");
</script>

</body>
</html>