<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PeeKiS</title>
<!-- favicon -->
<link rel="shortcut icon" href="/peekis/favicon.ico" type="image/x-icon">
<link rel="icon" href="/peekis/favicon.ico" type="image/x-icon">
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../../js/jquery.number.js"></script>

<!-- 부트스트랩 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Isotope -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<!-- Packery -->
<script src="https://unpkg.com/packery@2.0.0/dist/packery.pkgd.min.js"></script>
<script src="https://unpkg.com/draggabilly@2.1/dist/draggabilly.pkgd.js"></script>

<!-- imagesLoaded -->
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>

<!-- flickity -->
<link rel="stylesheet" href="https://unpkg.com/flickity@1.2/dist/flickity.css" media="screen">
<script src="https://unpkg.com/flickity@1.2/dist/flickity.pkgd.js"></script>

<!-- alert -->
<script src="../../js/sweetalert-dev.js"></script>
<link rel="stylesheet" style="text/css" href="../../css/sweetalert.css" />

<!-- 헤더푸터 위치 페이지 사이즈  조절 -->
<link rel="stylesheet" style="text/css" href="../../css/global.css" />
<!-- css -->
<link rel="stylesheet" style="text/css" href="../../css/common.css" />
<link rel="stylesheet" style="text/css" href="../../css/header.css" />
<link rel="stylesheet" style="text/css" href="../../css/footer.css" />
<link rel="stylesheet" style="text/css" href="../../css/btn-orange.css" />
<link rel="stylesheet" style="text/css" href="../../css/profile.css" />
<link rel="stylesheet" style="text/css" href="../../css/main.css" />
<link rel="stylesheet" style="text/css" href="../../css/profile.css" />
<link rel="stylesheet" style="text/css" href="../../css/myList.css" />

</head>
<body>
	<header id="header"></header>

	<section>

		<div id="user-profile"></div>

		<div class="c_container carousel collapse in" id="filters">
			<div class="addCategory category 0 is-selected"  data-filter="*">
			<input type="hidden" class="no" value="00">
				<div class="add-category">
					<div style="padding: 30px 0 20px 0;">
						<i class="fa fa-plus-circle fa-3x"></i>
					</div>
					<h4 style="margin: 0;">카테고리 추가</h4>
				</div>
			</div>
			
		</div>

		<div class="main">
			<!-- 로딩 이미지  -->
			<div class="wrap-loading">
				<div class="spinner">
					<div class="right-side">
						<div class="bar"></div>
					</div>
					<div class="left-side">
						<div class="bar"></div>
					</div>
				</div>
			</div>

			<div id="results"></div>

			<div class="item_container">
				

				<div class="item add-item">
					<a data-toggle="modal" data-target="#addModal">
					
						<div class="addItem">
							<div style="padding: 30px 0 20px 0;">
								<i class="fa fa-plus-circle fa-3x"></i>
							</div>
							<h4 style="margin: 0;">위시리스트 추가</h4>
						</div>
					</a>
				</div>

			</div>
			<div id="pageNo" style="display: none;">1</div>
			<div id="UserNo" style="display: none;">0</div>
		</div>


		
		<!-- 카테고리 기본폼 -->
		<div class="cloneCategory" style="display: none;">
			<div class="category">
				<div class="categoryName">이름은 여기 표시</div>
				<input type="hidden" class="cno" value="00">
				<div class="categoryImg">
					<img src="../../image/no_image(450X450).png" class="img-rounded path1">
					<img src="../../image/no_image(450X450).png" class="img-rounded path2">
				</div>
				<i class="fa fa-pencil categoryUpdate"></i>
				<i class="fa fa-trash-o categoryDel"></i>
			</div>
		</div>


		<!-- item 기본폼 -->
		<div class="cloneMainContents" style="display: none;">
			<div class="item">
				<div class="product">
					<img src="../../image/no_image(235x400).png" />
					<input type="hidden" class="no" value="00">
					<div class="mask">
						<div class="icon">
							<a href="#Modal1" data-toggle="modal"><button class="detail btn btn-orange">상세보기</button></a>
						</div>
					</div>
				</div>
				<div class="wish-menu">
					<i class="fa fa-bookmark buy"></i>
					<i class="fa fa-pencil"></i>
					<i class="fa fa-trash-o"></i>
				</div>
			</div>
		</div>


	</section>

	<footer class="nav-down" id="footer"></footer>
	<span data-toggle="tooltip" data-placement="top" title="" id="demoTop" data-original-title="Going Up?" style="display: none;"><a href="#" style="display: block; padding: 5px;">Δ</a></span>

	<!-- addModal -->
	<div class="modal fade  bs-example-modal-sm" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="addModalLabel">위시리스트 추가하기</h4>
				</div>
				<div class="modal-body">
					<a data-toggle="modal" data-target="#urlModal" style="float: left; width: 200px;">
						<div>
							<p style="font-size: 70px; color: black; padding-top: 15px;">
								<i class="fa fa-globe"></i>
							</p>
							<p style="font-size: 17px; line-height: 17px;">URL로 추가하기</p>
						</div>
					</a> <a data-toggle="modal" data-target="#registModal" style="float: left; width: 200px;">
						<div>
							<p style="font-size: 70px; color: black; padding-top: 15px;">
								<i class="fa fa-arrow-up"></i>
							</p>
							<p style="font-size: 17px; line-height: 17px;">직접 추가하기</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- #urlModal -->
	<div class="modal fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="urlModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="urlModalLabel">위시리스트 추가하기</h4>
				</div>
				<div class="modal-body">
					<form id="preview">
						<div class="row">
							<input type="text" id="url" name="url" class="text" size=40;>
							<input type="submit" class="btn btn-orange" data-toggle="modal" data-target="#registModal" value="물건추가">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- registModal -->
	<div class="modal fade" id="registModal" tabindex="-1" role="dialog" aria-labelledby="registModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="registModalLabel">위시리스트 추가하기</h4>
				</div>
				<div class="modal-body">
					<form action="add.do" method="post" id="cForm">
						<div class="form-group registModal-IMG">
							<label class="sr-only" for="modal-image">image:</label> <img style="max-width: 200px; max-height: 150px; width: auto; height: auto;" id="modal-image" name="path" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png" /> 
							<input type="file" name="file" id="modal-File" accept="image/*" /> 
							<input type="hidden" name="path" id="modal-src" value="" />
						</div>
						<div class="form-group">
							<label for="modal-title" class="sr-only">title:</label> <input type="text" class="form-control" id="modal-title" name="title" placeholder="제목">
						</div>
						<div class="form-group">
							<label for="modal-content" class="sr-only">content:</label>
							<textarea class="form-control" id="modal-content" name="content" placeholder="내용"></textarea>
						</div>
						<div class="form-group">
							<label for="modal-price" class="sr-only">price:</label> <input type="text" class="form-control" id="modal-price" name="price" placeholder="가격">
						</div>
						<div class="form-group">
							<label for="modal-url" class="sr-only control-label">url:</label> <input type="text" class="form-control" id="modal-url" name="url" placeholder="URL">
						</div>
						<div class="form-group">
							<label for="modal-tag" class="sr-only control-label">tag:</label> <input type="text" class="form-control" id="modal-tag" name="tag" placeholder="#태그입력">
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-orange regist-btn" data-dismiss="modal">등록</button>
				</div>
			</div>
		</div>
	</div>


	<!-- editModal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="editModalLabel">위시리스트 수정하기</h4>
				</div>
				<div class="modal-body">
					<form method="post" id="eForm" enctype="multipart/form-data">
						<input type="hidden" class="no" id="editmodal-no">
						<div class="form-group editModal-IMG">
							<label class="sr-only" for="modal-image">image:</label> <img style="max-width: 200px; max-height: 150px; width: auto; height: auto;" id="editmodal-image" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png" /> 
							<input type="file" name="file" id="editmodal-File" accept="image/*" style="display: none;" />
							<input type="hidden" name="path" id="editmodal-src" value="" />
						</div>
						<div class="form-group">
							<label for="modal-title" class="sr-only">title:</label> <input type="text" class="form-control" id="editmodal-title" name="title" placeholder="제목">
						</div>
						<div class="form-group">
							<label for="modal-content" class="sr-only">content:</label>
							<textarea class="form-control" id="editmodal-content" name="content" placeholder="내용"></textarea>
						</div>
						<div class="form-group">
							<label for="modal-price" class="sr-only">price:</label> <input type="text" class="form-control" id="editmodal-price" name="price" placeholder="가격">
						</div>

						<div class="form-group">
							<label for="modal-url" class="sr-only control-label">url:</label> <input type="text" class="form-control" id="editmodal-url" name="url" placeholder="URL">
						</div>
						<div class="form-group">
							<label for="modal-tag" class="sr-only control-label">tag:</label> <input type="text" class="form-control" id="editmodal-tag" name="tag" placeholder="#태그입력">
						</div>

					</form>
				</div>
				

				<div class="modal-footer">
					<button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-orange update-btn" data-dismiss="modal">수정</button>
				</div>
			</div>
		</div>
	</div>
	

	<!-- DetailModal -->
	<div class="item-modal modal fade" id="detailmodal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-pro">
						<img src="../../image/pro1.jpg" class="img-circle detailmodal-pro">
						<div class="modal-user_id">아이디는여덟자임</div>
						<span class="glyphicon glyphicon-folder-open"></span>
						<div class="modal-user_wish">폴더이름여덟자임</div>
					    <button class="btn btn-orange follow" id="detailFollowBtn"><i class="fa fa-plus">　팔로우</i></button>
					</div>
					<button type="button" class="btn btn-orange" data-dismiss="modal">닫기</button>
				</div>
				<div class="modal-body">
					<input type="hidden" class="no" id="detailmodal-no">
					<input type="hidden" class="uno" id="detailmodal-uno">
					<div class="item-image">
						<img src="../../image/no_image(450X450).png" alt="" id="detailmodal-image">
						<figure id="tagCaption"><figcaption id="tagCaptionText"><a></a></figcaption></figure>
					</div>

					<div class="item-content">
						<div class="item-title" id="detailmodal-title">title:</div>
						<br />
						<div class="item-subtitle" id="detailmodal-content">content:</div>
						<div class="item-costi-box">
							<div class="price" id="detailmodal-price">&#8361; price:</div>
						</div>
						<br />
						<div class="item-button-box">
							<button class="btn btn-default" id="detailmodal-url">
								<span class="glyphicon glyphicon-credit-card"> </span>구매하러 가기
							</button>
							<a href="#capymodal" data-toggle="modal"><button class="btn btn-default" id="detailSendBtn">담아가기</button></a>
							<button class="btn btn-default" id="detailLikeBtn">좋아요</button>
						</div>
						<br />
						<div>
							<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
								<div class="btn-group" role="group">
									<button id="comment" class="btn btn-orange" href="#tab1" data-toggle="tab">
										<div class="hidden-xs">댓글&nbsp;<span id="commentLength">0</span></div>
									</button>
								</div>
								<div class="btn-group" role="group">
									<button id="send" class="btn btn-default" href="#tab2" data-toggle="tab">
										<div class="hidden-xs">담아가기&nbsp;<span id="sendLength">0</span></div>
									</button>
								</div>
								<div class="btn-group" role="group">
									<button id="like" class="btn btn-default" href="#tab3" data-toggle="tab">
										<div class="hidden-xs">좋아요&nbsp;<span id="likeLength">0</span></div>
									</button>
								</div>
							</div>
							<div class="well">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab1" style="overflow: auto;">
									</div>
									<div class="tab-pane fade in" id="tab2" style="overflow: auto;">
										<div id="sendTab-1"></div>
										<div id="sendTab-2"></div>
									</div>
									<div class="tab-pane fade in" id="tab3" style="overflow: auto;">
										<div id="likeTab-1"></div>
										<div id="likeTab-2"></div>
									</div>
								</div>
							</div>
							<div class="comment">
								<div class="comment_pro">
									<img src="../../image/pro1.jpg" class="img-circle comInputUserPho">
									<div class="col-lg-10">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="댓글을 입력해주세요" id="commentText"> <span class="input-group-btn">
												<button class="btn btn-default" type="button" id="insertComment">입력</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- 상세보기 모달 댓글 기본폼 -->
	<div class='commentDiv' style="display: none">
		<div id='comdelsel'>
		<img class='img-circle' style='height: 30px; width: 30px;'></img>&nbsp;
		<a class="comUserID"></a>&nbsp;
		<span class="comCont"></span>
		<span id='commentDelBtn'>&times;</span>
		<input type='hidden' id='commentNum'/>
		</div>
	</div>
	
	<!-- 상세보기 모달 담아가기한 유저 기본폼 -->
	<div class='sendDiv' style="display: none">
		<div id='sendUser' style="margin: 3px 0;">
		<img class='img-circle' style='height: 30px; width: 30px;'></img>&nbsp;
		<a class="sendUserID"></a>
		<input type='hidden' id='sendUserNo'/>
		</div>
	</div>
	
	<!-- 상세보기 모달 좋아요한 유저 기본폼 -->
	<div class='likeDiv' style="display: none">
		<div id='likeUser' style="margin: 3px 0;">
		<img class='img-circle' style='height: 30px; width: 30px;'></img>&nbsp;
		<a class="likeUserID"></a>
		<input type='hidden' id='likeUserNo'/>
		</div>
	</div>
	
	<!-- 상세보기 모달 태그 기본폼 -->
	<div class='tagDiv' style="display: none">
		<a href="#"></a>
	</div>


<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="js/myList.js"></script>
<script type="text/javascript" src="../profile/js/profile.js"></script>
<script type="text/javascript" src="../../js/detail.js"></script>
</body>
</html>