<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>gomgom myList</title>
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- 부트스트랩 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Masonry -->
<script src="https://npmcdn.com/masonry-layout@4.0.0/dist/masonry.pkgd.js"></script>

<!-- Isotope -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<!-- Packery -->
<script src="https://npmcdn.com/packery@2.0.0/dist/packery.pkgd.min.js"></script>
<!-- imagesLoaded -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>

<style>
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a, a:HOVER{
	text-decoration: none;
}

html, body {
	width: 100%;
	height: 100%;
}

.main {
	background-color: #e9e9e9;
}

.container-fluid {
	width: 100%;	
}

.user>div{
	float: left;
	margin: 20px;
}

#profile {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 80px 80px 80px 80px;
	border-radius: 80px 80px 80px 80px;
}

.userInfo div{
	float: left;
	margin: 5px;
	height: 80px;
	width: 80px;
	text-align: center;
	font-size: 15px;
	color: black;
}
.userInfo i{
	font-size: 20px;
	margin-bottom: 10px;
}

.userInfo div:HOVER, .icon i:HOVER {
	color: #f28435;
	font-weight: bold;
}

.item_container {
	margin: 0 5%;
}

.item {
	width: 250px;
	margin: 10px;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px 5px 5px 5px;

}

.addItem {
	width: 250px; 
	height: 150px;
	border: 4px dashed gray;
	text-align: center; 
	border-radius: 5px 5px 5px 5px;
	opacity: 0.5;
}

.addItem:HOVER {
	opacity: 1;
}

.product {
	position: relative;
}

.product img {
	width: 250px;
	border-bottom: 1px solid rgb(200, 200, 200);
	border-radius: 5px 5px 0px 0px;
}

.mask {
	filter: alpha(opacity = 0);
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.4s ease-in-out;
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px 5px 0px 0px;
}

.product p {
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.2s linear;
	margin: 10px 15px;
	color: #fff;
}

.product h2 {
	transform: translateY(-30px);
	filter: alpha(opacity = 0);
	opacity: 0;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 0 0 0;
}

.product:hover .mask {
	filter: alpha(opacity = 100);
	opacity: 1;
}

.product:hover h2, .product:hover p {
	filter: alpha(opacity = 100);
	opacity: 1;
	transform: translateY(0px);
}

.product:hover p {
	transition-delay: 0.1s;
}

.icon {
	padding: 5px;
	font-size: 20px;
	height: 35px;
	text-align: right;
}

.icon a {
	color: black;
	margin: 0 5px;
	line-height: 20px;
}

.icon i{
	margin-right: 8px;
}

.modal {
	text-align: center;
}

.modal-body img {
	margin: 0 auto;
}

.comment, .comment_pro {
	text-align: left;
}

.comment_pro img {
	text-align: left;
	height: 35px;
}

#myModal .modal-dialog, #urlModal .modal-dialog{
	width: 400px;
}

#addModal .modal-dialog{
	width: 302px;
}

#addModal .modal-body{
	height: 150px; 
	padding: 0;
}

#addModal .modal-body div{
	height: 150px;
	width:150px;
	background-color: #e9e9e9;
}
#addModal .modal-body div:HOVER{
	background-color: white;
}


</style>
<script> 

	(function($) {
	  $(document).ready(function() {
		  
		  var $container = $('.item_container').isotope({
				itemSelector : '.item',
				getSortData : {
					name : '.name',
					category : '.category',
					price : '.price'
				}
			});
			
			$container.imagesLoaded().progress( function() {
	            $container.isotope();
	        }); 
		  
				
		 $.getJSON('/springTest/board/ajax/list.do', function(resultObj) {
			  for (var board of resultObj.data) {					
					var text = "";
					text += '<div class="item friend ' + board.no + '">';
					text += '	<div class="product">';
					text += '		<img src="' + board.attachFile + '" />';
					text += '		<div class="mask" data-target="#Modal1" data-toggle="modal">';
					text += '			<h2 class="name">' + board.title + '</h2>';
					text += '			<p class="category">카테고리1</p>';
					text += '			<p class="price">' + board.price + '</p>';
					text += '		</div>';
					text += '	</div>';
					text += '	<div class="icon">';
					text += '		<i class="fa fa-pencil"></i>';
					text += '		<i class="fa fa-trash-o"></i>';
					text += '	</div>';
					text += '</div>';
					var $items = $(text);
					$container.append( $items ).isotope( 'prepended', $items );
			  }
				
				var addText = '<div class="item add-item">';
				addText += $('.add-item').html();
				addText += '</div>';
				$items = $(addText);
				$container.prepend( $items ).isotope( 'prepended', $items );	
				$container.isotope( 'remove', $('.add-item:last') ).isotope();
			});  
		  
		  
		  
		
		$('#myModal .regist-btn').click(function () {
			$.post('/springTest/board/ajax/add.do', {
				title: $('#modal-title').val(),
				content: $('#modal-content').val(),
				price: $('#modal-price').val(),
				url: $('#modal-url').val(),
				attachFile : $("#modal-image").attr("src")
				
			}, function(resultObj) {
				var ajaxResult = resultObj.ajaxResult;
				if (ajaxResult.status == "success") {
					var text = "";
					
					text += '<div class="item friend">';
					text += '	<div class="product">';
					text += '		<img src="' + $("#modal-image").attr("src") + '" />';

					text += '		<div class="mask" data-target="#Modal1" data-toggle="modal">';
					text += '			<h2 class="name">' + $("#modal-title").val() + '</h2>';
					text += '			<p class="category">카테고리1</p>';
					text += '			<p class="price">' + $("#modal-price").val() + '</p>';
					text += '		</div>';

					text += '	</div>';
					text += '	<div class="icon">';
					text += '		<i class="fa fa-pencil"></i>';
					text += '		<i class="fa fa-trash-o"></i>';
					text += '</div>';
					text += '</div>';
					var $items = $(text);
					$container.prepend( $items ).isotope( 'prepended', $items );
					
					var addText = '<div class="item add-item">';
					addText += $('.add-item').html();
					addText += '</div>';
					$items = $(addText);
					$container.prepend( $items ).isotope( 'prepended', $items );
								
					$container.isotope( 'remove', $('.add-item:last') ).isotope();

					resetModal();		      	
		    } else {
		        alert("게시물 등록에 실패했습니다.");
		    }
			}, 'json');
			
		});
		
		
		$container.on( 'click', '.fa-trash-o', function() {
			  $container.isotope( 'remove', $(this).parent().parent() ).isotope();
			  
			  
		})
		
		$('.fa-pencil').click(function () {
			$('#editModal').modal();
		});
		 
		
		$('#myModal .cancel-btn').click(function () {
			resetModal();
		});
		
		$('#addModal a').click(function(){
			var modalId = $(this).parent().parent().parent().parent().attr('id');
			modalHide(modalId);
		});
		
		$('#urlModal input[type=submit]').click(function(){
			var modalId = $(this).parent().parent().parent().parent().parent().parent().attr('id');
			modalHide(modalId);
		});
		
		function modalHide(modalId){
			$('#' + modalId).modal('hide');
		};
		
		function resetModal() {
			$('#url').val("");
			$("#modal-File").val("");
			$("#modal-title").val("");
			$("#modal-content").val("");
			$("#modal-price").val("");
			$("#modal-url").val("");
			$("#modal-tag").val("");
			$("#modal-url").removeAttr("disabled");
			$("#modal-image").attr("src", "http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png");
		}
		
		$('#modal-image').click( function() {		
			$('#myModal input[type=file]').trigger('click');
		});	
		
		$('#modal-File').change(function() {
			readURL(this);
		});
		
		
		 function readURL(input) {
             if (input.files && input.files[0]) {
                 var reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
                 reader.onload = function (e) {
                 //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                     $('#modal-image').attr('src', e.target.result);
                     //이미지 Tag의 SRC속성에 읽어들인 File내용을 지정
                     //(아래 코드에서 읽어들인 dataURL형식)
                 }                   
                 reader.readAsDataURL(input.files[0]);
                 //File내용을 읽어 dataURL형식의 문자열로 저장
             }
         }
		
		
	    $('#preview').bind('submit', function(e) {
	      e.preventDefault();
	      
	      var url = $('#url').val();      
	      if (url.substring(0, 4) == 'http')
	      {
			getLinkMeta(url);
	      }
	      else
	      {
			//displayMessage('URL must start with <em>http://</em>', 'error');
		  }
	      return false;
	    });
	    
	    
	    function getLinkMeta(url) {
	      var q = 'http://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent('select * from html where url="' + url + '" and xpath="//title|//head/meta"') + '&format=json&callback=?';
	      
	      console.log(q);
	      
	      $.ajax({
					type: 'GET',
					url: q, 
					dataType: 'jsonp',
					success: function(data, textStatus) {
						if (results) {
							console.log(results);
							
							var result = {};
							var regExp = null;
							
							result.title = data.query.results.title;
							
							$.each(data.query.results.meta, function(key, val){
								if (val.content) {
									regExp = /(description)/g;
									if (regExp.test(val.property))
									{
										result.description = val.content;
									}
									
									if (regExp.test(val.name))
									{
										result.description = val.content;
									}
									
									regExp = /http.*\.(jpg|jpeg|gif|png)/g;
									if (regExp.test(val.content)) {
										if (val.content != 'undefined') {
											result.img = val.content;
										}
									}
									
									regExp = /(Price|product:price:amount)/g;
									if (regExp.test(val.property)) {
										result.price = val.content;
									}
									
								}
							});
							
							var src = result.img ? result.img : '';
							
							$("#modal-image").attr("src", src);
							$("#modal-title").val(result.title);
							$("#modal-content").val(result.description);
							$("#modal-price").val(result.price);
							$("#modal-url").val(url);
							$("#modal-url").attr("disabled","disabled");
							$("#modal-tag").val("");
							$("#modal-File").val("");
							
							
							var text = '<article><h1>' + result.title + '</h1>';
							text += '<div class="url"><em>' + url + '</em></div>';
							text += result.img ? '<img src="' + result.img + '" class="thumb"/>' : '';
							text += '<p>' + result.description + '</p>';
							text += '<p>' + result.price + '원</p></article>';
							
							//displayMessage(text);
						} else {
							displayMessage("Sorry, can't scrape anything from that url.", 'error');
						}
						
					}
	      });
	    }
			
		function displayMessage(text, type) {
			$('#results').removeClass('error');
			if (type == 'error') {
				$('#results').addClass('error');
				text = '<article class="error">' + text + '</article>';
			}
			
			$('#results').prepend(text).hide().fadeIn();
		}
	    
		$('.item').draggable({ revert: true });
		
		
		
		
		
		 
	  });
	})(jQuery)
		
</script>

</head>
<body>

	<div class="content">
	
		<div class="container-fluid"  style="margin-top: 30px;">
		  <div class="col-sm-12 user" style="margin-left: 5%;">
		  <div>
		  	<img alt="" id="profile" src="image/손연재.jpg">
		  </div>
		
		  <div>
		  	 <div style="margin: 5px 15px 30px 20px;">
		  	 	<h3>aabbccdd</h3>
		  	 </div>
		  	 
			 <div class="userInfo">
			  <a href="#"><div>
			  <i class="fa fa-folder-open-o"></i><br>카테고리<br>000
			  </div></a>
			  <a href="#"><div>
			  <i class="fa fa-picture-o"></i><br>게시물<br>000
			  </div></a>
			  <a href="#"><div>
			  <i class="fa fa-heart-o"></i><br>좋아요<br>000
			  </div></a>
			  <a href="#"><div>
			  <i class="fa fa-user"></i><br>팔로워<br>000
			  </div></a>
			  <a href="#"><div>
			  <i class="glyphicon glyphicon-sunglasses"></i><br>팔로우<br>000
			  </div></a>	  
			  </div>
		  </div>
		</div>
		</div>	

<hr/>

		<div class="container-fluid main">
				<div id="results" style=""></div>
				
				<div class="item_container">
				
					<div class="item add-item">
						<a data-toggle="modal" data-target="#addModal">
						<div class="addItem">
							<div style="padding: 30px 0 20px 0;"><i class="fa fa-plus-circle fa-3x"></i></div>
							<h4 style="margin: 0; ">위시리스트 추가</h4>
						</div>
						</a>
					</div>
				</div>
		</div>



</div>
	
	<!-- addModal -->
	<div class="modal fade  bs-example-modal-sm" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 추가하기</h4>
	      </div>
	      <div class="modal-body">
	      	<a data-toggle="modal" data-target="#urlModal" style="float: left; width: 150px;">
	        	<div>
	        	<p style="font-size: 60px; color: black;"><i class="fa fa-globe"></i></p>
	        	<p style="font-size: 15px; line-height: 15px;">URL로 추가하기</p>
	        	</div>
	        </a>
	        <a data-toggle="modal" data-target="#myModal" style="float: left; width: 150px;">
	        	<div>
	        	<p style="font-size: 60px; color: black;"><i class="fa fa-arrow-up"></i></p>
	        	<p style="font-size: 15px; line-height: 15px;">직접 추가하기</p>
	        	</div>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- #urlModal -->
	<div class="modal fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 추가하기</h4>
	      </div>
	      <div class="modal-body">
				<form id="preview">
					<div class="row">
						<input type="text" id="url" name="url" class="text" size=35;>
						<input type="submit"  class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="물건추가" >
					</div>
				</form>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	
	
	<!-- myModal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 추가하기</h4>
	      </div>
	      <div class="modal-body">
	        <form action="add.do" method="post" name="cForm" enctype="multipart/form-data">       
	         <div class="form-group">
	         <label class="sr-only"  for="modal-image">image:</label>
	          <img style="max-width:300px; max-height: 250px; width: auto; height: auto;" id="modal-image" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png"/>
	          <!-- <button id="addphoto" class="btn btn-primary">사진추가</button>		 -->
	          <input type="file" id="modal-File" accept="image/*" style="display: none;"/>
	          </div>
	          <div class="form-group">
	            <label for="modal-title" class="sr-only">title:</label>
	            <input type="text" class="form-control" id="modal-title"  name="title" placeholder="제목">
	          </div>
	          <div class="form-group">
	            <label for="modal-content" class="sr-only">content:</label>
	            <textarea class="form-control" id="modal-content" name="content" placeholder="내용"></textarea>
	          </div>
	          <div class="form-group">
	            <label for="modal-price" class="sr-only">price:</label>
	            <input type="text" class="form-control" id="modal-price" name="price" placeholder="가격">
	          </div>
        	
	          <div class="form-group">
	            <label for="modal-url" class="sr-only control-label">url:</label>
	            <input type="text" class="form-control" id="modal-url" name="url" placeholder="URL">
	          </div>
	          <div class="form-group">
	            <label for="modal-tag" class="sr-only control-label">tag:</label>
	            <input type="text" class="form-control" id="modal-tag" placeholder="#태그입력">
	          </div>

        	</form>       	
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">취소</button>
	        <button type="button" class="btn btn-primary regist-btn" data-dismiss="modal">등록</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- editModal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 추가하기</h4>
	      </div>
	      <div class="modal-body">
	        <form>       
	         <div class="form-group">
	         <label class="sr-only"  for="modal-image">image:</label>
	          <img style="max-width:300px; max-height: 250px; width: auto; height: auto;" id="modal-image" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png"/>
	          <!-- <button id="addphoto" class="btn btn-primary">사진추가</button>		 -->
	          <input type="file" id="modal-File" accept="image/*" style="display: none;"/>
	          </div>
	          <div class="form-group">
	            <label for="modal-title" class="sr-only">title:</label>
	            <input type="text" class="form-control" id="modal-title"  placeholder="제목">
	          </div>
	          <div class="form-group">
	            <label for="modal-content" class="sr-only">content:</label>
	            <textarea class="form-control" id="modal-content"  placeholder="내용"></textarea>
	          </div>
	          <div class="form-group">
	            <label for="modal-price" class="sr-only">price:</label>
	            <input type="text" class="form-control" id="modal-price" placeholder="가격">
	          </div>
        	
	          <div class="form-group">
	            <label for="modal-url" class="sr-only control-label">url:</label>
	            <input type="text" class="form-control" id="modal-url" placeholder="URL">
	          </div>
	          <div class="form-group">
	            <label for="modal-tag" class="sr-only control-label">tag:</label>
	            <input type="text" class="form-control" id="modal-tag" placeholder="#태그입력">
	          </div>

        	</form>       	
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">취소</button>
	        <button type="button" class="btn btn-primary regist-btn" data-dismiss="modal">수정</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	
	<!-- Modal -->
	<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">제목 표시 부분</h4>
				</div>
				<div class="modal-body">
					<img src="image/신발.PNG" class="img-responsive img-centered" alt="">
					<p>물건 내용을 표시 해주자</p>
				</div>
				<div class="modal-footer">
					<div class="comment">댓글</div>
					<div class="comment_pro">
						<img src="image/손연재.jpg" class="img-circle">
						<input type="text" class="form-control" placeholder="댓글을 입력하세요">
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>