<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>gomgom myList</title>
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- 부트스트랩 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Isotope -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<!-- Packery -->
<script src="https://npmcdn.com/packery@2.0.0/dist/packery.pkgd.min.js"></script>
<!-- imagesLoaded -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>

<script type="text/javascript" src="../../js/common.js"></script>

<!-- 헤더푸터 위치 페이지 사이즈  조절 -->
<link rel="stylesheet" style="text/css" href="../../css/global.css"/>
<!-- css -->
<link rel="stylesheet" style="text/css" href="../../css/common.css" />
<link rel="stylesheet" style="text/css" href="../../css/header.css" />
<link rel="stylesheet" style="text/css" href="../../css/footer.css" />
<link rel="stylesheet" style="text/css" href="../../css/btn-orange.css" />
<link rel="stylesheet" style="text/css" href="../../css/profile.css" />
<link rel="stylesheet" style="text/css" href="../../css/myList.css" />


</head>
<body>
	<header id="header"></header>
	
	<section>
	
		<div id="user-profile"></div>


		<div class="main">
				<!-- 로딩 이미지  -->
				<div class="wrap-loading">
					<div class="spinner">
						<div class="right-side"><div class="bar"></div></div>
						<div class="left-side"><div class="bar"></div></div>
					</div>
				</div>
				
				<div id="results" style=""></div>
				
				<div class="item_container">
				
					<div class="item add-item">
						<a data-toggle="modal" data-target="#addModal">
						<div class="addItem">
							<div style="padding: 30px 0 20px 0;"><i class="fa fa-plus-circle fa-3x"></i></div>
							<h4 style="margin: 0; ">위시리스트 추가</h4>
						</div>
						</a>
					</div>
					
				</div>
		</div>


		<!-- item 기본폼 -->
		<div class="cloneMainContents" style="display: none;">
			<div class="item">
				<div class="product">
					<img src="../../image/005.jpg" />
					<input type="hidden" class="no" value="00">
					<div class="mask">
						<div class="icon">
							<a href="#Modal1" data-toggle="modal"><button class="detail btn btn-orange">상세보기</button></a>
						</div>
					</div>
				</div>
				<div class="wish-menu">
					<i class="fa fa-map buy"></i>
					<i class="fa fa-pencil"></i>
					<i class="fa fa-trash-o"></i>
				</div>
			</div>
		</div>


	</section>
		
	<footer id="footer"></footer>
	
		
	<!-- addModal -->
	<div class="modal fade  bs-example-modal-sm" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 추가하기</h4>
	      </div>
	      <div class="modal-body">
	      	<a data-toggle="modal" data-target="#urlModal" style="float: left; width: 200px;">
	        	<div>
	        	<p style="font-size: 70px; color: black; padding-top: 15px;"><i class="fa fa-globe"></i></p>
	        	<p style="font-size: 17px; line-height: 17px;">URL로 추가하기</p>
	        	</div>
	        </a>
	        <a data-toggle="modal" data-target="#myModal" style="float: left; width: 200px;">
	        	<div>
	        	<p style="font-size: 70px; color: black; padding-top: 15px;"><i class="fa fa-arrow-up"></i></p>
	        	<p style="font-size: 17px; line-height: 17px;">직접 추가하기</p>
	        	</div>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- #urlModal -->
	<div class="modal fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 추가하기</h4>
	      </div>
	      <div class="modal-body">
				<form id="preview">
					<div class="row">
						<input type="text" id="url" name="url" class="text" size=40;>
						<input type="submit"  class="btn btn-orange" data-toggle="modal" data-target="#myModal" value="물건추가" >
					</div>
				</form>
	      </div>
	    </div>
	  </div>
	</div>
		
	
	<!-- myModal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 추가하기</h4>
	      </div>
	      <div class="modal-body">
	        <form action="add.do" method="post" id="cForm">       
	         <div class="form-group">
	         <label class="sr-only"  for="modal-image">image:</label>
	          <img style="max-width:200px; max-height: 150px; width: auto; height: auto;" id="modal-image" name="path" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png"/>
	          <input type="file" name="file" id="modal-File" accept="image/*"/>
	          <input type="hidden" name="path" id="modal-src" value=""/>
	          </div>
	          <div class="form-group">
	            <label for="modal-title" class="sr-only">title:</label>
	            <input type="text" class="form-control" id="modal-title"  name="title" placeholder="제목">
	          </div>
	          <div class="form-group">
	            <label for="modal-content" class="sr-only">content:</label>
	            <textarea class="form-control" id="modal-content" name="content" placeholder="내용"></textarea>
	          </div>
	          <div class="form-group">
	            <label for="modal-price" class="sr-only">price:</label>
	            <input type="text" class="form-control" id="modal-price" name="price" placeholder="가격">
	          </div>
	          <div class="form-group">
	            <label for="modal-url" class="sr-only control-label">url:</label>
	            <input type="text" class="form-control" id="modal-url" name="url" placeholder="URL">
	          </div>
	          <div class="form-group">
	            <label for="modal-tag" class="sr-only control-label">tag:</label>
	            <input type="text" class="form-control" id="modal-tag" placeholder="#태그입력">
	          </div>

        	</form>       	
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">취소</button>
	        <button type="button" class="btn btn-orange regist-btn" data-dismiss="modal">등록</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- editModal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">위시리스트 수정하기</h4>
	      </div>
	      <div class="modal-body">
	        <form action="add.do" method="post" name="eForm" enctype="multipart/form-data">
	        <input type="hidden"  class="no" id="editmodal-no">      
	         <div class="form-group">
	         <label class="sr-only"  for="modal-image">image:</label>
	          <img style="max-width:200px; max-height: 150px; width: auto; height: auto;" id="editmodal-image" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png"/>
	          <input type="file" id="editmodal-File" accept="image/*" style="display: none;"/>
	          </div>
	          <div class="form-group">
	            <label for="modal-title" class="sr-only">title:</label>
	            <input type="text" class="form-control" id="editmodal-title"  name="title" placeholder="제목">
	          </div>
	          <div class="form-group">
	            <label for="modal-content" class="sr-only">content:</label>
	            <textarea class="form-control" id="editmodal-content" name="content" placeholder="내용"></textarea>
	          </div>
	          <div class="form-group">
	            <label for="modal-price" class="sr-only">price:</label>
	            <input type="text" class="form-control" id="editmodal-price" name="price" placeholder="가격">
	          </div>
        	
	          <div class="form-group">
	            <label for="modal-url" class="sr-only control-label">url:</label>
	            <input type="text" class="form-control" id="editmodal-url" name="url" placeholder="URL">
	          </div>
	          <div class="form-group">
	            <label for="modal-tag" class="sr-only control-label">tag:</label>
	            <input type="text" class="form-control" id="editmodal-tag" placeholder="#태그입력">
	          </div>

        	</form>       	
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">취소</button>
	        <button type="button" class="btn btn-orange update-btn" data-dismiss="modal">수정</button>
	      </div>
	    </div>
	  </div>
	</div>
	
<script>
	$("#header").load("../header/header.html");
	$("#footer").load("../footer/footer.html");
	$("#user-profile").load("../profile/profile.html");
</script>

<script> 

	(function($) {
	  $(document).ready(function() {
		  
		  var $container = $('.item_container');
          $container.isotope({
             itemSelector : '.item',
             percentPosition : true
          });
          $container.imagesLoaded(function() {
        	  $container.isotope();
          });
			
          /* 구매여부 토글 */
          $(document).on("click", ".buy", function(){
        	var wishNo = $(this).closest(".item").find('[type=hidden]').val();
        	$.getJSON('/peekis/wish/ajax/buyCheck.do', {no : wishNo}, function(resultObj) {
        		var result = resultObj.ajaxResult;
        		console.log(result);
    			if(result.status == 'success'){
	        		console.log(this);
					$('.'+result.data).find('.buy').toggleClass("buy-check");
    			}else{
    				alert('구매여부 변경에 실패하였습니다.');
    			}
    		});
          })

          
          
		/* 위시리스트 목록 불러오기  */		
		 $.getJSON('/peekis/wish/ajax/list.do', function(resultObj) {
			  for (var wish of resultObj.data) {
				  var cloneContent = $(".cloneMainContents > div").clone();
					cloneContent.addClass(wish.no+"");
					cloneContent.find('.no').val(wish.no);
					var path = wish.path;
					if(path.startsWith('http://') == false){
						path = filePath + path;
					}
					if(wish.buy == 'Y'){
						cloneContent.find('.buy').addClass('buy-check');
					}
					cloneContent.find('img:first').attr("src", path);
					$items = $(cloneContent);
					$container.append( $items ).isotope( 'appended', $items );			
			  }
		});
		
		/* 위시리스트 추가하기  */
		$('#myModal .regist-btn').click(function () {
			var form = $("#cForm")[0];
			var formData = new FormData(form);
			formData.append("url", $("#modal-url").val());
			$.ajax({
				url: '/peekis/wish/ajax/add.do', 
				processData: false,
				contentType: false,
				data: formData,
				type: 'POST',
			    dataType :'json',
			    success: function(resultObj) {
					var wish = resultObj.wish;
					var cloneContent = $(".cloneMainContents > div").clone();
					cloneContent.addClass(wish.no+"");
					cloneContent.find('.no').val(wish.no);
					var path = wish.path;
					if(path.startsWith('http://') == false){
						path = filePath + path;
					}
					cloneContent.find('img:first').attr("src", path);
					$items = $(cloneContent);
					$container.prepend( $items ).isotope( 'prepended', $items );
					
					var addText = '<div class="item add-item">';
					addText += $('.add-item').html();
					addText += '</div>';
					$items = $(addText);
					$container.prepend( $items ).isotope( 'prepended', $items );
					$container.isotope( 'remove', $('.add-item:last') ).isotope();
			    },
			    complete: resetModal()
			});
		})

		
		/* 위시리스트 삭제하기  */
		$container.on( 'click', '.fa-trash-o', function() {
			var wishNo = $(this).closest(".item").find('[type=hidden]').val();
			$.getJSON('/peekis/wish/ajax/delete.do', {no : wishNo} , function( resultObj ) {
				var ajaxResult = resultObj.ajaxResult;
				if (ajaxResult.status == "success") {
					$container.isotope( 'remove', $("." + wishNo) ).isotope();
				}
			});
		})
		
		/* 위시리스트 수정폼 불러오기  */
		$container.on( 'click', '.fa-pencil', function() {
			var item = $(this).closest(".item");
			var wishNo = $(this).closest(".item").find('[type=hidden]').val();
			$.getJSON('/peekis/wish/ajax/update.do', {no : wishNo} , 
				function( resultObj ) {
					var wish = resultObj.ajaxResult.data;
					console.log(wish);
					$("#editmodal-no").val( wish.no );
					$("#editmodal-image").attr("src", item.find('img').attr('src') );
					$("#editmodal-title").val( wish.title );			
					$("#editmodal-content").val( wish.content );
					$("#editmodal-price").val( wish.price );
					$("#editmodal-url").val( wish.url );
					$("#editmodal-tag").val("");
					$('#editModal').modal();
				});
		})
		
		/* 위시리스트  수정하기  */
		$('#editModal .update-btn').click(function () {
			var wNo = $('#editmodal-no').val();
			var wTitle = $('#editmodal-title').val();
			var wCont = $('#editmodal-content').val();
			var wPrice = $('#editmodal-price').val();
			var wUrl = $('#editmodal-url').val();
			var wPath = $("#editmodal-image").attr("src");
			$.post('/peekis/wish/ajax/update.do', {
				no: wNo,
				title: wTitle,
				content: wCont,
				price: wPrice,
				url: wUrl,
				path : wPath
				
			}, function(resultObj) {
				var ajaxResult = resultObj.ajaxResult;
				if (ajaxResult.status == "success") {
			        $('.' + wNo).find('.title').text(wTitle);
					$('.' + wNo).find('.content').val(wCont);
					$('.' + wNo).find('.price').text(wPrice);
					$('.' + wNo).find('.url').val(wUrl);
					$('.' + wNo).find('.path').val(wPath);
			        alert("게시물 수정에  성공했습니다.");
			    } else {
			        alert("게시물 수정에 실패했습니다.");
			    }
			}, 'json');
			
		});
		
	  });
	})(jQuery)
		
</script>

<!--  모달관련 스크립트 -->
<script>
	$('.cancel-btn').click(function () {
		resetModal();
	});
	
	$('#addModal a').click(function(){
		modalHide('#addModal');
	});
	
	$('#urlModal input[type=submit]').click(function(){
		modalHide('#urlModal');
	});
	
	function modalHide(modalId){
		$(modalId).modal('hide');
	};
	
	function resetModal() {
		$('#url').val("");
		$("#modal-File").val("");
		$("#modal-title").val("");
		$("#modal-content").val("");
		$("#modal-price").val("");
		$("#modal-url").val("");
		$("#modal-tag").val("");
		$("#modal-url").removeAttr("disabled");
		$("#modal-image").attr("src", "http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png");
	}
	
	$('#modal-image, #editmodal-image').click( function() {		
		$('#modal-File').trigger('click');
	});	
	
	$('.modal-body').find('[type=file]').change(function() {
		console.log(this);
		readURL(this);
	});
	
	
	 function readURL(input) {
	     if (input.files && input.files[0]) {
	         var reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
	         reader.onload = function (e) {
	         //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
	             $(input).prev().attr('src', e.target.result);
	             //이미지 Tag의 SRC속성에 읽어들인 File내용을 지정
	             //(아래 코드에서 읽어들인 dataURL형식)
	         }                   
	         reader.readAsDataURL(input.files[0]);
	         //File내용을 읽어 dataURL형식의 문자열로 저장
	     }
	 }
</script>

<!-- URL 정보파싱 -->
<script>
	$('#preview').bind('submit', function(e) {
	  e.preventDefault();
	  
	  var url = $('#url').val();      
	  if (url.substring(0, 4) == 'http')
	  {
		getLinkMeta(url);
	  }
	  else
	  {
		//displayMessage('URL must start with <em>http://</em>', 'error');
	  }
	  return false;
	});
	
	
	function getLinkMeta(url) {
	  var q = 'http://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent('select * from html where url="' + url + '" and xpath="//title|//head/meta"') + '&format=json&callback=?';
	  
	  console.log(q);
	  
	  $.ajax({
				type: 'GET',
				url: q, 
				dataType: 'jsonp',
				success: function(data, textStatus) {
					if (results) {
						console.log(results);
						
						var result = {};
						var regExp = null;
						
						result.title = data.query.results.title;
						
						$.each(data.query.results.meta, function(key, val){
							if (val.content) {
								regExp = /(description)/g;
								if (regExp.test(val.property))
								{
									result.description = val.content;
								}
								
								if (regExp.test(val.name))
								{
									result.description = val.content;
								}
								
								regExp = /http.*\.(jpg|jpeg|gif|png)/g;
								if (regExp.test(val.content)) {
									if (val.content != 'undefined') {
										result.img = val.content;
									}
								}
								
								regExp = /(Price|product:price:amount)/g;
								if (regExp.test(val.property)) {
									result.price = val.content;
								}
								
							}
						});
						
						var src = result.img ? result.img : '';
						
						$("#modal-image").attr("src", src);
						$("#modal-src").val(src);
						$("#modal-title").val(result.title);
						$("#modal-content").val(result.description);
						$("#modal-price").val(result.price);
						$("#modal-url").val(url);
						$("#modal-url").attr("disabled","disabled");
						$("#modal-tag").val("");
						$("#modal-File").val("");
						
						
						var text = '<article><h1>' + result.title + '</h1>';
						text += '<div class="url"><em>' + url + '</em></div>';
						text += result.img ? '<img src="' + result.img + '" class="thumb"/>' : '';
						text += '<p>' + result.description + '</p>';
						text += '<p>' + result.price + '원</p></article>';
						
						//displayMessage(text);
					} else {
						displayMessage("Sorry, can't scrape anything from that url.", 'error');
					}
					
				},
				beforeSend:function(){
					$('.wrap-loading').css('display','block');
					$('.spinner').css('display','block');
			    },complete:function(){
			    	$('.wrap-loading').css('display','none');
			    	$('.spinner').css('display','none');
			    }
	  });
	}
	  function displayMessage(text, type) {
			$('#results').removeClass('error');
			if (type == 'error') {
				$('#results').addClass('error');
				text = '<article class="error">' + text + '</article>';
			}
			
			$('#results').prepend(text).hide().fadeIn();
		}
</script>
</body>
</html>