<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
<title>욕망을 채워주는 PeeKiS</title>
<!-- favicon -->
<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
<link rel="icon" href="../../favicon.ico" type="image/x-icon">

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- <script src="../../js/jquery.rollingCounter.js"></script> -->

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="../../css/index.css">
<link rel="stylesheet" href="../../css/animate.css">

<!-- Typed -->
<script src="../../js/typed.js"></script>

<script src="../../js/snap.svg-min.js"></script>
<script type="text/javascript">
$(function(){
    var subElementArray = $.map($('.sub-element'), function(el) { return $(el).text(); });    
    $(".element").typed({
        strings: subElementArray,
        typeSpeed: 30,
        contentType: 'html',
        showCursor: false,
        loop: true,
        loopCount: true,
    });
    
	
	$.getJSON(
			"selectAllCnt.do",
			function(data){
				$('#all').attr("data-count", data.allCnt.totalCnt);
				$('#today').attr("data-count", data.todayCnt.todayCnt);
				$('#goal').attr("data-count", data.goalCnt.goalCnt);
// 				$('#all').html(data.allCnt.totalCnt);
// 				$('#today').html(data.todayCnt.todayCnt);
// 				$('#clear').html(data.goalCnt.goalCnt);
			}
	);

	
	/* ======================= */
	

});
</script>

</head>
<body>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="animated infinite tada">
						Peek<small>iS</small>
					</h1>
					<h2 class="element">
						<span class="sub-element">여러분의 가지고 싶은 것을 채워 넣으세요!</span>
						<span class="sub-element">당신의 욕망을 채워주는 이곳!</span>
						<span class="sub-element">피 키 스</span>
					</h2>

					<ul class="countdown">
						<li><span class="counter" id="all">0</span>
							<h3>총 욕망</h3></li>
						<li><span class="counter" id="today">0</span>
							<h3>오늘의 욕망</h3></li>
						<li><span class="counter" id="goal">0</span>
							<h3>욕망 달성</h3></li>
					</ul>
					<br/>
					<div class="button-wrap animated infinite bounce">
						<button data-anijs="if:click, do: hinge animated, to: #main" class="button button--line button--effect-1" onclick="location.href='../../auth/joinForm.html'";>
							<span class="morph-shape" data-morph-active="M287,95.25c0,11.046-5.954,19.75-17,19.75c0,0-90-4-120-4s-120,4-120,4c-11.046,0-17.25-9.5-17.25-20.5c0-8.715,0.25-10.75,0.25-34s-0.681-26.257-1-33.75C11.5,15,18.954,10,30,10c0,0,90,3,120,3s120-3,120-3c11.046,0,17.75,6.5,17,20c-0.402,7.239,0,6.75,0,30.5C287,83.5,287,84.75,287,95.25z">
								<svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
									<path d="M290,95c0,11.046-8.954,20-20,20c0,0-90,0-120,0s-120,0-120,0c-11.046,0-20-9-20-20c0-8.715,0-25.875,0-34.5c0-7.625,0-22.774,0-30.5c0-11.625,8.954-20,20-20c0,0,90,0,120,0s120,0,120,0c11.046,0,20,8.954,20,20c0,7.25,0,22.875,0,30.5C290,69.125,290,84.5,290,95z"/>
								</svg>
							</span>
							<span class="button__text">욕망을 담으러 가기</span>
						</button>
					</div>
					<button id="btn" style="display: none;"></button>
				</div>
			</div>
		</div>
	</div>
		<script src="../../js/classie.js"></script>
		<script type="text/javascript">
	    
		/* $(".counter").rollingCounter({
		    animate : true,
		    attrCount : 'data-count',
		    delayTime : 20 ,
		    waitTime : 1 ,
		    easing : 'easeOutBounce',
		    duration : 1000
		}); */
		
		
		</script>
		<script>
			(function() {

				function extend( a, b ) {
					for( var key in b ) { 
						if( b.hasOwnProperty( key ) ) {
							a[key] = b[key];
						}
					}
					return a;
				}
				
				function SVGButton( el, options ) {
					this.el = el;
					this.options = extend( {}, this.options );
					extend( this.options, options );
					this.init();
				}

				SVGButton.prototype.options = {
					speed : { reset : 800, active : 150 },
					easing : { reset : mina.elastic, active : mina.easein }
				};

				SVGButton.prototype.init = function() {
					this.shapeEl = this.el.querySelector( 'span.morph-shape' );

					var s = Snap( this.shapeEl.querySelector( 'svg' ) );
					this.pathEl = s.select( 'path' );
					this.paths = {
						reset : this.pathEl.attr( 'd' ),
						active : this.shapeEl.getAttribute( 'data-morph-active' )
					};

					this.initEvents();
				};

				SVGButton.prototype.initEvents = function() {
					this.el.addEventListener( 'mousedown', this.down.bind(this) );
					this.el.addEventListener( 'touchstart', this.down.bind(this) );

					this.el.addEventListener( 'mouseup', this.up.bind(this) );
					this.el.addEventListener( 'touchend', this.up.bind(this) );

					this.el.addEventListener( 'mouseout', this.up.bind(this) );
				};

				SVGButton.prototype.down = function() {
					this.pathEl.stop().animate( { 'path' : this.paths.active }, this.options.speed.active, this.options.easing.active );
				};

				SVGButton.prototype.up = function() {
					this.pathEl.stop().animate( { 'path' : this.paths.reset }, this.options.speed.reset, this.options.easing.reset );
				};

				[].slice.call( document.querySelectorAll( 'button.button--effect-1' ) ).forEach( function( el ) {
					new SVGButton( el );
				} );

				[].slice.call( document.querySelectorAll( 'button.button--effect-2' ) ).forEach( function( el ) {
					new SVGButton( el, {
						speed : { reset : 650, active : 650 },
						easing : { reset : mina.elastic, active : mina.elastic }
					} );
				} );

			})();			
		</script>
</body>
</html>