
	 <!-- footer 푸터 -->
  	<footer class="main-footer">
  		<div class="footer-inner">
  			<div class="footLogo">
  				<a href="#" class="share"><img src="../footer/img/infinite-symbol-wh.png" width="17px" height="20px"/>PeeKiS</a>
  			</div>
  			<div class="footShare">
  				<ul>
  					<li><a href="https://twitter.com/" class="share"><img src="../footer/img/twitter-logo-on-black-background.png" width="25px" height="25px"/></a></li>
  					<li><a href="https://ko-kr.facebook.com/" class="share"><img src="../footer/img/facebook-logo .png" width="25px" height="25px"/></a></li>
  					<li><a href="http://www.google.com" class="share"><img src="../footer/img/social-google-plus-square-button.png" width="25px" height="25px"/></a></li>
  					<li><a href="https://www.instagram.com/" class="share"><img src="../footer/img/instagram-logo.png" width="25px" height="25px"/></a></li>
  					<li><a href="https://kr.pinterest.com/" class="share"><img src="../footer/img/pinterest-logo.png" width="25px" height="25px"/></a></li>
  				</ul>
  			</div>
  			<div class="footCont">
				<ul id="footMn">
					<li><a href="#" class="footMenu1">MENU</a></li>
					<li><a href="#" class="footMenu2">Q&A</a></li>
				</ul>
  			</div>
  		</div>
		<div class="footCopyright">
			<p>PeeKis2016</p>
		</div>
  	</footer>
  
