
	 <!-- footer 푸터 -->
  	<footer class="main-footer">
  		<div class="footer-inner">
  			<div class="footShare">
  				<ul id="footIcon">
  					<li><a href="https://twitter.com/" class="share"><img src="../footer/img/social.png" width="20px" height="20px"/></a></li>
  					<li><a href="https://ko-kr.facebook.com/" class="share"><img src="../footer/img/social-media.png" width="20px" height="20px"/></a></li>
  					<li><a href="http://www.google.com" class="share"><img src="../footer/img/social-network.png" width="20px" height="20px"/></a></li>
  					<li><a href="https://www.instagram.com/" class="share"><img src="../footer/img/social-INS.png" width="20px" height="20px"/></a></li>
  					<li><a href="https://kr.pinterest.com/" class="share"><img src="../footer/img/travel.png" width="20px" height="20px"/></a></li>
  				</ul>
  			</div>
  			<div class="footLogo">
  				<a href="#" class="share"><img src="../footer/img/p.png" width="17px" height="20px"/>eeKiS</a> &copy; PeeKiS2016
  			</div>
  			<div class="footCont">
				<ul id="footMn">
					<li><a href="#" class="footMenu1">MENU</a></li>
					<li><a href="#" class="footMenu2">Q&A</a></li>
				</ul>
  			</div>
  		</div>
		
  	</footer>
  
