
	 <!-- footer 푸터 -->
  		<div class="footerWrap">
  			<div class="footer-shareBox">
				<a href="https://twitter.com/" class="share"><img src="../footer/img/social.png" width="20px" height="20px"/></a>
				<a href="https://ko-kr.facebook.com/" class="share"><img src="../footer/img/social-media.png" width="20px" height="20px"/></a>
				<a href="http://www.google.com" class="share"><img src="../footer/img/social-network.png" width="20px" height="20px"/></a>
				<a href="https://www.instagram.com/" class="share"><img src="../footer/img/social-INS.png" width="20px" height="20px"/></a>
				<a href="https://kr.pinterest.com/" class="share"><img src="../footer/img/travel.png" width="20px" height="20px"/></a>
  			</div>
  			
  			<div class="footer-logoBox">
  				<a href="#" class="share"><img src="../footer/img/p.png" width="17px" height="20px"/>eeKiS</a> &copy; PeeKiS2016
  			</div>
  			
  			<div class="footer-menuBox">
				 <a href="#" class="footMenu1">MENU</a> 
				 <a href="/peekis/view/qna/qnaList.html" class="footMenu2">Q&A</a> 
  			</div>
  		</div>
  
